In [6]:
import tensorflow as tf

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
CSV_COLUMN_NAMES = ['SepalLength', 'SepalWidth',
                    'PetalLength', 'PetalWidth', 'Species']
train=pd.read_csv("http://download.tensorflow.org/data/iris_training.csv",header=0,names=CSV_COLUMN_NAMES)
test=pd.read_csv("http://download.tensorflow.org/data/iris_test.csv",header=0,names=CSV_COLUMN_NAMES)

In [9]:
train.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          6.4         2.8          5.6         2.2        2
1          5.0         2.3          3.3         1.0        1
2          4.9         2.5          4.5         1.7        2
3          4.9         3.1          1.5         0.1        0
4          5.7         3.8          1.7         0.3        0

In [10]:
test.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          5.9         3.0          4.2         1.5        1
1          6.9         3.1          5.4         2.1        2
2          5.1         3.3          1.7         0.5        0
3          6.0         3.4          4.5         1.6        1
4          5.5         2.5          4.0         1.3        1

In [11]:
train_label=train.pop("Species")

In [12]:
train_features,train_labels=train,train_label

In [13]:
train_features.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          6.4         2.8          5.6         2.2
1          5.0         2.3          3.3         1.0
2          4.9         2.5          4.5         1.7
3          4.9         3.1          1.5         0.1
4          5.7         3.8          1.7         0.3

In [14]:
test_label=test.pop("Species")
test_features,test_labels=test,test_label

In [15]:
test_features.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          5.9         3.0          4.2         1.5
1          6.9         3.1          5.4         2.1
2          5.1         3.3          1.7         0.5
3          6.0         3.4          4.5         1.6
4          5.5         2.5          4.0         1.3

In [21]:
my_feature_columns=[]
for key in train_features.keys():
    my_feature_columns.append(tf.feature_column.numeric_column(key=key))

In [24]:
   classifier = tf.estimator.DNNClassifier(
        feature_columns=my_feature_columns,
        hidden_units=[10, 10],
        n_classes=3)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp7vrxcng5
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmp7vrxcng5', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7fcf2b27aa58>, '_task_type': 'worker', '_task_id': 0, '_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [49]:
def train_input_fn(features,label,batch_size):
    dataset=tf.data.Dataset.from_tensor_slices((dict(features),label))
    dataset = dataset.shuffle(buffer_size=1000).repeat(count=None).batch(batch_size)
    return dataset.make_one_shot_iterator().get_next()

In [50]:
    classifier.train(
        input_fn=lambda:train_input_fn(train_features, train_labels, 100),
        steps=1000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Restoring parameters from /tmp/tmp7vrxcng5/model.ckpt-10
INFO:tensorflow:Saving checkpoints for 11 into /tmp/tmp7vrxcng5/model.ckpt.
INFO:tensorflow:loss = 70.335686, step = 11
INFO:tensorflow:global_step/sec: 643.794
INFO:tensorflow:loss = 17.069614, step = 111 (0.156 sec)
INFO:tensorflow:global_step/sec: 832.858
INFO:tensorflow:loss = 11.320597, step = 211 (0.120 sec)
INFO:tensorflow:global_step/sec: 826.049
INFO:tensorflow:loss = 9.567444, step = 311 (0.121 sec)
INFO:tensorflow:global_step/sec: 844.664
INFO:tensorflow:loss = 9.412405, step = 411 (0.119 sec)
INFO:tensorflow:global_step/sec: 816.632
INFO:tensorflow:loss = 7.191571, step = 511 (0.122 sec)
INFO:tensorflow:global_step/sec: 821.207
INFO:tensorflow:loss = 6.3715835, step = 611 (0.122 sec)
INFO:tensorflow:global_step/sec: 861.407
INFO:tensorflow:loss = 7.449475, step = 711 (0.116 sec)
INFO:tensorflow:global_step/sec: 941.84
INFO:tensorflow:loss = 7.2545805, step = 811 (0.106 sec)
INFO:tensorflow:global_step/sec: 804.931
INFO:tensorflow:loss = 2.2453852, step = 911 (0.124 sec)
INFO:tensorflow:Saving checkpoints for 1010 into /tmp/tmp7vrxcng5/model.ckpt.
INFO:tensorflow:Loss for final step: 7.543952.

In [51]:
def eval_input_fn(features, labels=None, batch_size=None):
    dataset = tf.data.Dataset.from_tensor_slices((dict(features),labels))
    dataset = dataset.batch(batch_size)
    return dataset.make_one_shot_iterator().get_next()

In [52]:
eval_result = classifier.evaluate(
    input_fn=lambda:eval_input_fn(test_features, test_labels, 100))

print('\nTest set accuracy: {accuracy:0.3f}\n'.format(**eval_result))

INFO:tensorflow:Starting evaluation at 2018-01-27-11:46:54
INFO:tensorflow:Restoring parameters from /tmp/tmp7vrxcng5/model.ckpt-1010
INFO:tensorflow:Finished evaluation at 2018-01-27-11:46:54
INFO:tensorflow:Saving dict for global step 1010: accuracy = 1.0, average_loss = 0.04789246, global_step = 1010, loss = 1.4367738

Test set accuracy: 1.000

In [83]:
   predict_x = {
        'SepalLength': [5.1, 5.9, 6.9],
        'SepalWidth': [3.3, 3.0, 3.1],
        'PetalLength': [1.7, 4.2, 5.4],
        'PetalWidth': [0.5, 1.5, 2.1],
    }

In [84]:
def eval_input_f(features, labels=None, batch_size=None):
    dataset = tf.data.Dataset.from_tensor_slices((dict(features)))
    dataset = dataset.batch(batch_size)
    return dataset.make_one_shot_iterator().get_next()

In [85]:
predictions = classifier.predict(
    input_fn=lambda:eval_input_f(predict_x, batch_size=100))

In [86]:
for i in predictions:
    print(i)

INFO:tensorflow:Restoring parameters from /tmp/tmp7vrxcng5/model.ckpt-1010
{'logits': array([ 10.473425 ,   4.2151875, -20.211006 ], dtype=float32), 'probabilities': array([9.9808902e-01, 1.9109588e-03, 4.7107510e-14], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}
{'logits': array([-3.7921236,  4.683285 , -1.6928363], dtype=float32), 'probabilities': array([2.0813639e-04, 9.9809343e-01, 1.6984659e-03], dtype=float32), 'class_ids': array([1]), 'classes': array([b'1'], dtype=object)}
{'logits': array([-9.411576 ,  2.4641147,  5.0313916], dtype=float32), 'probabilities': array([4.9589045e-07, 7.1274303e-02, 9.2872518e-01], dtype=float32), 'class_ids': array([2]), 'classes': array([b'2'], dtype=object)}